.home-route {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-list {
  margin-top: 100px; /* Adjust distance between navbar and first picture */
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* Update this line */
  grid-gap: 20px;
  justify-content: center;
}


.photo-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.photo-list__image {
  position: relative;
  width: 100%; /* Set width to 100% to scale the image within the container */
  height: 100%; /* Allow the height to adjust automatically based on the aspect ratio */
  object-fit: cover;
  object-position: center;
}

.photo-list__fav-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: pointer;
  border: none;
  background-color: white;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
  z-index: 1; /* Update z-index to position the icon in front */
}

.photo-list__fav-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.photo-list__fav-icon.active {
  background-color: #C80000;
  color: white;
}

.photo-list__fav-icon-svg {
  width: 20px;
  height: 17px;
}

.photo-list__fav-icon-circle {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 14px;
  height: 14px;
  background-color: #C80000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
  font-weight: bold;
  z-index: 1;
}

.photo-list__item .photo-wrapper {
  width: 200px; /* Set the width of the container for images */
  height: 200px; /* Set the height to match the width */
  overflow: hidden;
  border-radius: 8px;
}

.photo-list__item .photo-details {
  display: flex;
  flex-direction: column;
  margin-left: 10px; /* Adjust spacing between profile pic and user details */
}

.username {
  font-weight: bold;
  margin-left: 100px;
}

.location {
  font-size: 12px;
  margin-left: 100px;
}

.profile-img {
  width: 35px; /* Set the width of the profile image */
  height: 35px; /* Set the height to match the width */
  border-radius: 50%;
  margin-right: 10px;
  order: -1; /* Move the profile image to the left */
}

img.photo-list__user-profile {
  width: 60px; /* Set the width of the profile image */
  height: 55px; /* Set the height to match the width */
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 20px;
  order: 1; /* Move the profile image to the right */
}
