.photo-fav-button__icon {
  border: 4px solid red;
  position: relative; /* Position absolutely within the photo-wrapper */
  top: 0px;
  left: 0px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}
button.photo-fav-button {
  position: relative; /* Position absolutely within the photo-wrapper */
  top: 38px;
  right: 0px;
  cursor: pointer;
  border: none;
  background-color: transparentize($color: #fafafa, $amount:.85);
  
 
  border-radius: 50%;
  display: flex;
 z-index: 1;
  
  transition: background-color 0.3s, color 0.3s;
}
.photo-fav-button  {
  position: relative; /* Position absolutely within the photo-wrapper */
  top: 0px;
  left: 0px;
  cursor: pointer;
  border-width: 0.1px;
  border: 4px;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  border: 4px solid red;
  align-items: center;
  justify-content: center;
  
}

