/* TopNavigationBar.scss */

.top-nav {
  border-bottom: 4px solid rgb(0, 0, 0); /* Add this line for the bold line */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
}


.top-nav__logo {
  font-size: 24px;
  color: black;
  margin-right: 650px;
}
.top-nav__nav {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.top-nav__logo {
  text-decoration: overline;
  font-weight: 500;
  font-size: 24px;
  color: #111;
  text-underline-position: auto;
  margin-left: 24px;
}

.top-nav-bar--nav a:hover {
  text-decoration: underline;
}
.fav-badge{
  display: flex;
  align-items: center;
  flex-direction: row;
}
